body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #111;
}

h1 {
  margin-bottom: 2rem;
  color: #eee;
}

p a:hover {
  color: aqua;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ccc;
  margin-top: 25px;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #111;
}

/* Cabeçalho arredondado no topo */
table thead tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

table thead tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* Rodapé arredondado se tiver */
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.home-btn {
  display: inline-block;
  background: #d72638;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s;
}

.home-btn:hover {
  background: #a51b2a;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 2rem;
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
}

/* .modal-divider {
  border: none;
  height: 2px;
  background-color: #2c3e50;
  margin: 16px 0;
  border-radius: 2px;
} */

.modal-divider {
  border: none;
  height: 2px;
  background-color: #2c3e50;
  margin: 16px 0;
  border-radius: 2px;
}

#modal-obs {
  color: #555;
  font-style: italic;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

button {
  background-color: #d72638;
  /* Azul escuro elegante */
  color: white;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.logo a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

button:hover {
  background-color: #ad3642;
  /* Tom um pouco mais claro no hover */
  transform: scale(1.03);
}

button:active {
  transform: scale(0.98);
  background-color: #ccc;
  color: #111;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .modal-content {
    width: 80%;
    padding: 1rem;

  }
}